@{
  Layout = "_Layout";
}

@using Treats.Models

<h4>Treats</h4>
    @foreach (Treat treat in ViewBag.Treats)
    {
      <h5>@Html.ActionLink($"{treat.TreatName}", "Details", "Treats", new { id = treat.TreatId })</h5>
    }
<br>
<br>  
<h4>Flavors</h4>
    @foreach (Flavor flavor in ViewBag.Flavors)
    {
      <h5>@Html.ActionLink($"{flavor.FlavorName}", "Details", "Flavors", new { id = flavor.FlavorId })</h5>
    }
<br>
<br>
<br>
<p>@Html.ActionLink("Home", "Index")</p>