@{
  Layout = "_Layout";
}

<h1>Welcome to Pierre's Sweet and Savory Treats Inventory System!</h1>
<br>
<br>
<br>
<p>@Html.ActionLink("Treats", "Index", "Treats")</p>
<br>
<p>@Html.ActionLink("Flavors", "Index", "Flavors")</p>
<br>
<p>@Html.ActionLink("View All", "Details")</p>
<br>
<br>
@if (!User.Identity.IsAuthenticated)
{
    @using (Html.BeginForm("LogOff", "Account"))
    {
    <p>@Html.ActionLink("Register", "Register", "Account")</p>
    }
}  
 