@{
  Layout = "_Layout";
}

@using Treats.Models
@model Treats.Models.Treat

<h2>Remove this treat from the inventory?</h2>
<hr/>
<br>
<br>
@using (Html.BeginForm())
{
  <p>Name: @Model.TreatName</p>
  <p>Description: @Model.Description</p>
<br>
<br>
  <button type="submit" class="btn btn-alert">Delete?</button>
}
<br>
<br>
<br>
<p>@Html.ActionLink("Treats", "Index")</p>
<p>@Html.ActionLink("Flavors", "Index", "Flavors")</p>