@{
  Layout = "_Layout";
}

@using Treats.Models
@model List<Treats.Models.Flavor>

<h2>Flavors</h2>
<hr/>

@if(Model.Count == 0)
{
  <h2>This Treat does not have any flavors!</h2>
}
else 
{
  @foreach(Flavor flavor in Model)
  {
    <li>@Html.ActionLink($"{flavor.FlavorName}", "Details", new {id = flavor.FlavorId})</li>
  }
}
<br>
<button>@Html.ActionLink("Add A Flavor", "Create", "Flavors")</button>